/inkscape/linux-because-software-problems-should-not-cost-money--logo.svg.jpg
/inkscape/linux-because-software-problems-should-not-cost-money--logo.svg.png
/inkscape/linux-because-software-problems-should-not-cost-money--logo.svg.webp
